@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Roboto:wght@300;400;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: "Grape Nuts", cursive;
}
.panel {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    transition: all 1s;
    p {
        transition: 0.5s;
    }
    p:nth-child(2) {
        font-size: 5rem;
    }
    :first-child {
        transform: translateY(-500%);
    }
    :last-child {
        transform: translateY(500%);
    }
    overflow: hidden;
}
.panel.open-active {
    :first-child {
        transform: translateY(0%);
    }
    :last-child {
        transform: translateY(0%);
    }
}
.panel.open {
    flex: 5;
    p {
        font-size: 8rem;
    }
}
.panel1 {
    background-image: url(./imgs/rayquaza.png);
}
.panel2 {
    background-image: url(./imgs/lugia.jpg);
}
.panel3 {
    background-image: url(./imgs/mewtwo.jpg);
}
.panel4 {
    background-image: url(./imgs/suicune.webp);
}
.panel5 {
    background-image: url(./imgs/arceus.jpg);
}
.panels {
    display: flex;
}
@media only screen and (max-width: 450px) {
    .panels {
        display: flex;
        flex-direction: column;
        height: 100vh;
        p {
            font-size: 40%;
        }
    }
}
